@import "/src/styles/_palette.module";

.navbar {
  display: flex;
  justify-content: flex-end;
  //background-color: $text-hint;

  &__container {
    display: flex;
    align-items: center;
    &--user {
      color: $text-primary;
      font-weight: 900;
    }
  }

  &__menu {
    //Profile Settings
     &--title {
       padding: 5px;
   

     }
    &__item {
      &--logout {
        color: $secondary-light;
      }
    }
  }
}
