@import "../_palette.module";
.closed {
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;

  &__header {
    &--title {
        padding: 11px 0;
      color: $primary-main;
    }
  }
  &__content {
    overflow: hidden;
    height: 100%;
    width: auto;
    flex: 1;
    display: flex;
    flex-direction: column;

    &__table {
      flex: 1;
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--pagination {
        height: auto;
        overflow: hidden; // Prevent scrollbar by hiding overflow
        display: flex; // Flexbox for layout control
        justify-content: flex-end; // Center pagination
        align-items: center; // Align pagination vertically
        padding: 10px 0; // Add padding for spacing
      }
  }
}
