$primary-main: darken(#3d61ae, 10%); // #304f8d
$primary-light: darken(#4c6ea5, 10%); // #3e5987
$primary-dark: darken(#2f3f5c, 10%); // #232d43
$primary-contrast-text: #ffffff;

$secondary-main: darken(#ed252a, 10%); // #c71f23
$secondary-light: darken(#ff3737, 10%); // #d52d2d
$secondary-dark: darken(#c21616, 10%); // #9b1111
$secondary-contrast-text: #ffffff;

$info-main: darken(#3dabe1, 10%); // #3390bb
$info-light: darken(#64c5e6, 10%); // #54a3bf
$info-dark: darken(#2196f3, 10%); // #1a77c2
$info-contrast-text: #ffffff;

$warning-main: darken(#ffc107, 10%); // #e0a605
$warning-light: darken(#ffd07b, 10%); // #d3b06f
$warning-dark: darken(#ffa07a, 10%); // #e08d6d
$warning-contrast-text: darken(#000000, 10%); // #000000 (unchanged)

$error-main: darken(#e74c3c, 10%); // #c53f31
$error-light: darken(#ff7f7f, 10%); // #d96b6b
$error-dark: darken(#c0392b, 10%); // #9e2e22
$error-contrast-text: #ffffff;

$success-main: darken(#2ecc71, 10%); // #25a75d
$success-light: darken(#34c759, 10%); // #2ba449
$success-dark: darken(#1e8655, 10%); // #176944
$success-contrast-text: #ffffff;

$tertiary-main: darken(#9c27b0, 10%); // #831e91
$tertiary-light: darken(#ba68c8, 10%); // #9a56a7
$tertiary-dark: darken(#7b1fa2, 10%); // #641982
$tertiary-contrast-text: #ffffff;

$background-default: #f1f3f9;
$background-paper: #ffffff;
$background-header: #f0f0f0;

$text-primary: #414042;
$text-secondary: #666666;
$text-disabled: #999999;
$text-hint: #aaaaaa;

$caution-main: darken(#ff9800, 10%); // #e68900
$caution-light: darken(#ffc947, 10%); // #d8a13b
$caution-dark: darken(#c66900, 10%); // #9e5300
$caution-contrast-text: darken(#000000, 10%); // #000000 (unchanged)

:export {
  primary-main: $primary-main;
  primary-light: $primary-light;
  primary-dark: $primary-dark;
  primary-contrast-text: $primary-contrast-text;

  secondary-main: $secondary-main;
  secondary-light: $secondary-light;
  secondary-dark: $secondary-dark;
  secondary-contrast-text: $secondary-contrast-text;

  info-main: $info-main;
  info-light: $info-light;
  info-dark: $info-dark;
  info-contrast-text: $info-contrast-text;

  warning-main: $warning-main;
  warning-light: $warning-light;
  warning-dark: $warning-dark;
  warning-contrast-text: $warning-contrast-text;

  error-main: $error-main;
  error-light: $error-light;
  error-dark: $error-dark;
  error-contrast-text: $error-contrast-text;

  success-main: $success-main;
  success-light: $success-light;
  success-dark: $success-dark;
  success-contrast-text: $success-contrast-text;

  tertiary-main: $tertiary-main;
  tertiary-light: $tertiary-light;
  tertiary-dark: $tertiary-dark;
  tertiary-contrast-text: $tertiary-contrast-text;

  background-default: $background-default;
  background-paper: $background-paper;
  background-header: $background-header;

  text-primary: $text-primary;
  text-secondary: $text-secondary;
  text-disabled: $text-disabled;
  text-hint: $text-hint;

  caution-main: $caution-main;
  caution-light: $caution-light;
  caution-dark: $caution-dark;
  caution-contrast-text: $caution-contrast-text;
}
