@import "__palette.module";
.view {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  padding: 0 10px;
  

  &__container {
   
   
    display: flex;
    justify-content: space-between;

    &--select{
     
     
      align-items: center;

    }
  }
  &__table {
    display: flex;
    flex-direction: column;
    flex: 1;

    overflow: hidden;
  }
}

.boa {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  height: 100%;
  
  &__content {
    
    overflow: hidden;
    flex: 1;
    &__table {
      height: 100%;
      margin-top: 5px;
      .MuiTableCell-body {
        padding: 10px 16px;
      }
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--pagination {
      height: auto;
      overflow: hidden; // Prevent scrollbar by hiding overflow
      display: flex; // Flexbox for layout control
      justify-content: flex-end; // Center pagination
      align-items: center; // Align pagination vertically
      padding: 10px 0; // Add padding for spacing
    }
  }
}
