@import "__palette.module";
.view {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  gap: 0.5rem;

  &__container {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
  }
  &__table {
    display: flex;
    flex-direction: column;
    flex: 1;

    overflow: hidden;
  }
}

.boa {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
  &__content {
    
    &__table {
      height: 100%;
      .MuiTableCell-body {
        padding: 10px 16px;
      }
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--pagination {
      height: auto;
      overflow: hidden; // Prevent scrollbar by hiding overflow
      display: flex; // Flexbox for layout control
      justify-content: flex-end; // Center pagination
      align-items: center; // Align pagination vertically
      padding: 10px 0; // Add padding for spacing
    }
  }
}
