/* customimport.scss */
@import "__palette.module";
.customimport {
  &__divider--horizontal {
    margin: 16px 0; // Space around the divider
  }

  &__header--title {
    margin: 0px;
    padding: 0px;
    display: flex;
    //justify-content: space-between;
    align-items: center;
    color: $primary-main;
    //margin-bottom: 10px; // Space below the title

    .MuiIconButton-root {
      color: $primary-main; // Set close button color to white
    }
  }

  &__separator {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }

  &__dialog {
    display: flex; // Make the dialog a flex container
    width: 100%; // Set a width for the dialog
    padding: 20px; // Add some padding
    overflow: hidden;
    margin: auto;

    &__import {
      flex: 1; // Allow the import section to take up available space
      //margin-right: 10px; // Space between import and syncing sections

      &__content {
        &__dialog {
          &__viewing {
            &--content {
              .MuiDataGrid-cell {
                &.missing-required-field {
                  background-color: rgba(
                    255,
                    0,
                    0,
                    0.2
                  ); // Light red background
                  color: red;
                  font-weight: bold;
                }
              }
            }
          }
        }
        &__dropzone {
          border: 3px dashed $text-hint; // Style for the dropzone
          padding: 53px; // Padding inside the dropzone
          text-align: center; // Center align text
          border-radius: 10px;
          font-weight: 600;

          &--title {
            margin: 10px 0; // Space arou
          }

          &--button {
            //margin-top: 10px; // Space above button
            //font-weight: bold;
          }
        }
      }
    }
  }
  &__sync {
    //margin-left: 10px; // Space between import and syncing sections
    flex: 1; // Allow the syncing section to take up available space
    &__form {
      margin-top: 25px; // Space above the form
    }
  }

  &__content__dialog__viewing {
    .MuiDialogActions-root {
      display: flex;
      justify-content: space-between;
      margin: 0 18px;
    }

    &--title {
      color: $primary-main;
    }
    &--content {
      .MuiDataGrid-row {
        background-color: $background-header;
        pointer-events: fill;
      }
      height: 500px;
      overflow-y: auto;
    }
    &--norecords {
      display: flex;

      justify-content: center;
      align-items: center;

      img {
        width: 70vh;
        height: auto;
      }
    }
    &--actions {
    }
  }
}
