@import "__palette.module";
@import "__mixins";

.dashboard {
  &__header {
    position: relative;
    padding-top: 40px;
    &__box1 {
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 215px;
      
      background: linear-gradient(
        to right,
        #0c3483 0%,
        #a2b6df 100%,
        #6b8cce 100%,
        #a2b6df 100%
      );

      &--title {
        
        padding: 10px;
        
        color: $primary-contrast-text;
      }
    }

    &__image {
      position: absolute;
      top: 0;
      right: 0;

      width: 500px;
      max-width: 400px;
      @include md {
        display: flex;
      }
      display: none;
      
    }

  }
}
