@import "__palette.module";
.filter {
  position: relative;
  display: flex;

  &__icon {
    cursor: pointer;
  }

  &__menu {
    padding: 16px;

    &__content {
      display: flex;
      flex-direction: column;

      .MuiMenuItem-root {
        display: flex;
        flex-direction: column;
        //margin-bottom: 16px;

        .MuiTextField-root {
          //margin-bottom: 16px;
        }
      }

      &__buttons {
        // display: flex;
        // justify-content: end;
        margin-left: 15px;
      }
    }
  }
  &__search {
    display: flex;
        align-items: center;
        width: 50px;
        border: none;
        border-radius: 10px;
        padding: 2px 4px;
        margin: 5px;
        transition: width 0.3s ease-in-out;

        // Expanded state when focused
        &.expanded {
          width: 300px;
          border: 1px solid $primary-main;
        }
  }
}
