.main-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  //background-color: #eef3fc ;
  background-color: #ebebeb;

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden; // this fixed my problem responsiveness
  }
  &__content-outlet {
    overflow: hidden;
    // background-color: peachpuff;
    // display: flex;
    padding: 1rem;
    flex: 1;
  }
}
