@import "__palette.module";

.masterlist {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__con1 {
      display: flex;
      justify-content: space-between;
      flex: 1;
      align-items: center;
    }

    &__con2 {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      &--search {
        color: aqua;
      }
    }

    &--title {
      color: $primary-main;
    }
  }

  &__content {
    overflow: hidden;

    flex: 1;
    display: flex;
    flex-direction: column;

    &__table {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow-x: auto;
      overflow-y: hidden; // Prevent vertical scrollbar

      & tbody {
        & tr {
          
          transition: background-color 0.3s ease;

          &:hover,
          &.active {
            background-color: #d7ddff;
          }
        }
      }
    }

    &__table--norecords {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 16px;
      justify-content: center;
      align-items: center;

      img {
        width: 100vh;
        height: auto;
      }
    }

    &--pagination {
      height: auto;
      overflow: hidden; // Prevent scrollbar by hiding overflow
      display: flex; // Flexbox for layout control
      justify-content: flex-end; // Center pagination
      align-items: center; // Align pagination vertically
      padding: 10px 0; // Add padding for spacing
    }
  }

  &__footer {
    // Footer styles here
  }
}
