@import "__palette.module";

.password {
  &__title {
    padding: 16px;
    
    //background-color: $primary-dark;
    color: $primary-dark;

    .MuiIconButton-root {
      color: $primary-dark;
    }
  }

  &__actions {
    //background-color: $primary-dark;
    padding: 10px;
  }
}
