@import "__palette.module";

.password {
  &__title {
    padding: 16px;
    background-color: $primary-dark;
    color: $primary-contrast-text;

    .MuiIconButton-root {
      color: $primary-contrast-text;
    }
  }

  &__actions {
    background-color: $primary-dark;
    padding: 10px;
    
  }
}
