@import "__palette.module";
.folder {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0 10px;

  &__breadcrumbs {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__container {
      display: flex;
      align-items: center;
      &--icon {
        outline: 1px solid #7878784e;
      }
    }
    a {
      text-decoration: none;
      color: #808080; // Default text color
      font-size: 18px; // Adjust the font size as needed

      &:hover {
        //text-decoration: underline;
      }
    }
    .active {
      color: #0033cc;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--title {
      color: $primary-main;
    }
    &__paper {
      width: 100%;
      height: 100%;

      //   border-radius: 20px;

      &__outlet {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        white-space: nowrap;
        //background-color: aqua;
      }
    }
  }
}
.boaName {
  display: flex;
}

// .boaTable {
//   height: 100%;
//   width: 100%;
//   overflow: hidden;
//   display: flex;
// }

.boaFolder {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  //   &__content {
  //     height: 100%;
  //     flex: 1;
  //     &__table {
  //       height: 100%;
  //     }
  //   }

  &__footer {
    position: sticky; // Keeps the footer stuck at the bottom of the container
    bottom: 0; // Stick to the bottom
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white; // Add a background to prevent overlap with content
    border-top: 1px solid #ccc; // Optional styling for a divider
    padding: 8px 16px;
  }
}
