@import "__palette.module";

.systems {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;

  &__header {
    display: flex;
    flex-direction: column;

    &__container1 {
      display: flex;
      justify-content: space-between;
      flex: 1;
      align-items: center;

      &--title {
        color: $primary-main;
      }
    }
    &__container2 {
      //background-color: aqua;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__filters {
        display: flex;
        align-items: center;
      }
      &--search {
        color: aqua;
      }
    }
  }
  &__content {
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;

    &__table {
      flex: 1;
      display: flex;
      flex-direction: column;
      width: auto;
      overflow-x: auto;
      flex: 1;
      display: flex;
      flex-direction: column;
      width: auto;
      overflow-x: auto; // Allow horizontal scrolling if needed
      overflow-y: auto; // Enable vertical scrolling when content overflows
      & thead {
        & th {
          white-space: nowrap;
        }
      }

      & tbody {
        & tr {
          transition: background-color 0.3s ease;

          &:hover,
          &.active {
            background-color: #d7ddff;
          }
        }
      }
    }

    &--pagination {
      height: auto;
      overflow: hidden; // Prevent scrollbar by hiding overflow
      display: flex; // Flexbox for layout control
      justify-content: flex-end; // Center pagination
      align-items: center; // Align pagination vertically
      padding: 10px 0; // Add padding for spacing
    }
  }
}
