@import "__palette.module";

.systems {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;

  &__header {
    display: flex;

    justify-content: space-between;

    &__container1 {
      display: flex;
      justify-content: flex-start;

      align-items: center;

      &--dropdown {
        width: 200px; // Adjust based on your design
        padding: 8px; // Space inside the dropdown
        border: 0.5px solid $primary-main; // Add a primary color border
        border-radius: 8px; // Smooth the corners
        background-color: $background-header; // Set a background color
        font-size: 24px;
        color: $primary-main;

        &:hover {
          border-color: $primary-dark; // Darker border on hover
        }

         // Styles for the selected value
         & .MuiSelect-select {
          padding: 5px; // Padding inside the selected item area
          color: $primary-main; // Color of the text
          font-weight: 500;
        }

         // Customize the dropdown arrow icon
         & .MuiSelect-icon {
          color: $primary-main; // Primary color for the arrow
        }

         // Customizing the dropdown menu
         & .MuiPaper-root {
          border-radius: 8px; // Rounded corners for the dropdown menu
          background-color: $background-paper; // Background color of the dropdown
          box-shadow: 0px 4px 12px rgba(116, 93, 93, 0.1); // Subtle shadow for depth
        }
         // Styles for individual items in the dropdown
         & .MuiMenuItem-root {
          padding: 10px 16px; // Padding inside each menu item
          color: $text-primary; // Color of the text in the dropdown items
          font-size: 14px;

          &:hover {
            background-color: $primary-light; // Background on hover
            color: $primary-main; // Change text color on hover
          }

          // If an item is selected
          &.Mui-selected {
            background-color: $primary-main;
            color: $primary-main; // Contrast text color for better visibility
          }
        }

      }
    }
    &__container2 {
      //background-color: aqua;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      &__filters {
        display: flex;
        align-items: center;
      }
      &--search {
        display: flex;
        align-items: center;
        width: 50px;
        border: none;
        border-radius: 10px;
        padding: 2px 4px;
        margin: 5px;
        transition: width 0.3s ease-in-out;

        // Expanded state when focused
        &.expanded {
          width: 300px;
          border: 1px solid $primary-main;
        }
      }
    }
  }
  &__content {
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;

    &__table {
      flex: 1;
      display: flex;
      flex-direction: column;
      width: auto;
      overflow-x: auto;
      flex: 1;
      display: flex;
      flex-direction: column;
      width: auto;
      overflow-x: auto; // Allow horizontal scrolling if needed
      overflow-y: auto; // Enable vertical scrolling when content overflows
      & thead {
        
        & th {
          white-space: nowrap; // Prevent text wrapping in header
          
        }
  
      }

      & tbody {
        & td {
         // white-space: nowrap; // Prevent text wrapping in cells
         
        }
       

        & tr {
          transition: background-color 0.3s ease;

          &:hover,
          &.active {
            background-color: $text-hint;
          }
        }
      
    
      }
    }

    &--pagination {
      height: auto;
      overflow: hidden; // Prevent scrollbar by hiding overflow
      display: flex; // Flexbox for layout control
      justify-content: flex-end; // Center pagination
      align-items: center; // Align pagination vertically
      padding: 10px 0; // Add padding for spacing
    }
  }
  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}
